Repository credfeto/credfeto-enum-source-generation, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Enumeration.Source.Generation":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation/**/*' ]
"Attributes":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Attributes/**/*' ]
"Benchmarks":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Benchmarks/**/*' ]
"Generics":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Generics/**/*' ]
"Models":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models/**/*' ]
"Models.Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models.Tests/**/*' ]
"Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Tests/**/*' ]

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.7.269
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.40.352
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.9.28
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

Changelog for 1.1.2
  CHANGELOG.md
Labels: Change Log, Markdown

Used constant
  src/Credfeto.Enumeration.Source.Generation/EnumSourceGenerator.cs
Labels: Credfeto.Enumeration.Source.Generation

Adding exceptions for generation
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/ProhibitEnumToStringsDiagnosticsAnalyzer.cs
Labels: Credfeto.Enumeration.Source.Generation

Extracting
  src/Credfeto.Enumeration.Source.Generation/EnumSourceGenerator.cs
Labels: Credfeto.Enumeration.Source.Generation

Extracting
  src/Credfeto.Enumeration.Source.Generation/EnumSourceGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/Receivers/SyntaxExtractor.cs
Labels: Credfeto.Enumeration.Source.Generation

Extracting
  src/Credfeto.Enumeration.Source.Generation/EnumSourceGenerator.cs
Labels: Credfeto.Enumeration.Source.Generation

More error capturing
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/Models/ErrorInfo.cs
  src/Credfeto.Enumeration.Source.Generation/Receivers/SyntaxExtractor.cs
Labels: Credfeto.Enumeration.Source.Generation

More error capturing
  src/Credfeto.Enumeration.Source.Generation/Receivers/SyntaxExtractor.cs
Labels: Credfeto.Enumeration.Source.Generation

More error capturing
  src/Credfeto.Enumeration.Source.Generation/Receivers/SyntaxExtractor.cs
Labels: Credfeto.Enumeration.Source.Generation

More error capturing
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/EnumBench.cs
  src/Credfeto.Enumeration.Source.Generation/Receivers/SyntaxExtractor.cs
Labels: Credfeto.Enumeration.Source.Generation, Benchmarks

[Cleanup] - Code cleanup on Credfeto.Enumeration.Source.Generation.sln
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/EnumSourceGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/ProhibitEnumToStringsDiagnosticsAnalyzer.cs
  src/Credfeto.Enumeration.Source.Generation/Receivers/SyntaxExtractor.cs
Labels: Credfeto.Enumeration.Source.Generation

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.8.274
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.41.357
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.141
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating NSubstitute.Analyzers.CSharp (Code analysis) to 1.0.17
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Benchmarks, Models.Tests, Tests

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/actions/sbom/action.yml
  .github/actions/sbom/action.yml
Labels: none

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/on_new_pr.yml
  .github/workflows/on_new_pr.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/sbom/action.yml
  .github/actions/sbom/action.yml
Labels: none

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions
