Repository credfeto/credfeto-enum-source-generation, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Enumeration.Source.Generation":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation/**/*' ]
"Attributes":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Attributes/**/*' ]
"Benchmarks":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Benchmarks/**/*' ]
"Generics":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Generics/**/*' ]
"Models":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models/**/*' ]
"Models.Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models.Tests/**/*' ]
"Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Tests/**/*' ]

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/on-pr-closed.yml
  .github/workflows/on-pr-closed.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

SDK - Updated DotNet SDK to 8.0.201
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.144
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.11.0
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.20.0.85982
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.11.0
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating xunit.runner.visualstudio (Test Infrastructure) to 2.5.7
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating xunit (Test Infrastructure) to 2.7.0
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating coverlet (Code Coverage) to 6.0.1
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating TeamCity.VSTest.TestAdapter (Test Infrastructure) to 1.0.40
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.145
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/sbom/action.yml
  .github/actions/sbom/action.yml
Labels: none

[Linters] Updated .github/linters/syft.yml
  .github/linters/syft.yml
Labels: none

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.42.380
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.9.296
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Actions] Updated .github/workflows/on-pr-closed.yml
  .github/workflows/on-pr-closed.yml
Labels: github-actions

[Dependencies] Updating Microsoft.CodeAnalysis.CSharp (Code Analysis) to 4.9.2
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.21.0.86780
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.44.386
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

Changelog for 1.1.3
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.10.303
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.45.389
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

Refactoring
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/AssemblySettings.cs
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetDescriptionTests.cs
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetNameTests.cs
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/AssemblySettings.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/ProhibitEnumToStringsDiagnosticsAnalyzerTests.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/DiagnosticResult.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/DiagnosticVerifier.Helper.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/DiagnosticVerifier.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/GeneratorVerifierTestsBase.cs
  src/Credfeto.Enumeration.Source.Generation.sln
Labels: C# Project, C# Solution, Models, Models.Tests, Tests

Fixing Tests
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetDescriptionTests.cs
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetNameTests.cs
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.sln
Labels: C# Project, C# Solution, Models, Models.Tests, Tests

re-adding references
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Models.Tests

Removed project
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetDescriptionTests.cs
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetNameTests.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Exceptions/UnitTestSourceException.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/ProhibitEnumToStringsDiagnosticsAnalyzerTests.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/CSharpSourceGeneratorVerifier.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/DiagnosticResult.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/DiagnosticResultLocation.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/DiagnosticVerifier.Helper.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/DiagnosticVerifier.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/GeneratorVerifierTestsBase.cs
Labels: C# Project, Models.Tests, Tests

Updated changelog
  CHANGELOG.md
Labels: Change Log, Markdown

removing reference
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Models.Tests

Changelog for 1.1.4
  CHANGELOG.md
Labels: Change Log, Markdown
