Repository credfeto/credfeto-enum-source-generation, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-enumeration-source-generation, credfeto-enumeration-source-generation-attributes, credfeto-enumeration-source-generation-benchmarks, credfeto-enumeration-source-generation-generics, credfeto-enumeration-source-generation-models, credfeto-enumeration-source-generation-models-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

Changelog for 1.2.68
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.13.61
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.201
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.70.968
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.2.69
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.263.1191
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Changelog for 1.2.70
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.72.974
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.189
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.202
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.73.978
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.264.1201
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

Changelog for 1.2.71
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.57.416
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.74.984
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.265.1215
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Change Log, Markdown

xUnit.v3
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project

Cleanup: Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-enumeration-source-generation":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation/**/*' ]
"credfeto-enumeration-source-generation-attributes":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Attributes/**/*' ]
"credfeto-enumeration-source-generation-benchmarks":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Benchmarks/**/*' ]
"credfeto-enumeration-source-generation-generics":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Generics/**/*' ]
"credfeto-enumeration-source-generation-models":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Models/**/*' ]
"credfeto-enumeration-source-generation-models-tests":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Models.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
