Repository credfeto/credfeto-enum-source-generation, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-enumeration-source-generation, credfeto-enumeration-source-generation-attributes, credfeto-enumeration-source-generation-benchmarks, credfeto-enumeration-source-generation-generics, credfeto-enumeration-source-generation-models, credfeto-enumeration-source-generation-models-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/actions/build-check/action.yml
  .github/actions/build-check/action.yml
Labels: none

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/build-version/action.yml
  .github/actions/build-version/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/actions/sleet/action.yml
  .github/actions/sleet/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

SDK - Updated DotNet SDK to 9.0.100-rc.2.24474.11
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Version information
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetDescriptionTests.cs
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetNameTests.cs
  src/Credfeto.Enumeration.Source.Generation/Builders/CodeBuilder.cs
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
  src/Credfeto.Enumeration.Source.Generation/EnumSourceGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/Helpers/VersionInformation.cs
Labels: C# Project

SDK - Updated DotNet SDK to 9.0.100-rc.2.24474.11
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.170
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.CodeAnalysis.Analyzers (Code Analysis) to 3.11.0
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-enumeration-source-generation":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation/**/*' ]
"credfeto-enumeration-source-generation-attributes":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Attributes/**/*' ]
"credfeto-enumeration-source-generation-benchmarks":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Benchmarks/**/*' ]
"credfeto-enumeration-source-generation-generics":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Generics/**/*' ]
"credfeto-enumeration-source-generation-models":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Models/**/*' ]
"credfeto-enumeration-source-generation-models-tests":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Models.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
