Repository credfeto/credfeto-enum-source-generation, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.7.1
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

Release notes for 1.0.15
  CHANGELOG.md
Labels: Change Log, Markdown

[Cleanup] - Code cleanup on Credfeto.Enumeration.Source.Generation.sln
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/DiagnosticResult.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/DiagnosticVerifier.cs
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Credfeto.Enumeration.Source.Generation, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.8.0.76515
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating TeamCity.VSTest.TestAdapter (Test Infrastructure) to 1.0.37
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.5.0
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

Avoided allocation
  src/Credfeto.Enumeration.Source.Generation/Helpers/SupportedDiagnosticsList.cs
  src/Credfeto.Enumeration.Source.Generation/ProhibitEnumToStringsDiagnosticsAnalyzer.cs
Labels: Credfeto.Enumeration.Source.Generation

Made record
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/Models/EnumGeneration.cs
Labels: Credfeto.Enumeration.Source.Generation

Conditional compilation
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

Made record
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/Models/ClassEnumGeneration.cs
Labels: Credfeto.Enumeration.Source.Generation

Used linq
  src/Credfeto.Enumeration.Source.Generation/Builders/CodeBuilder.cs
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
Labels: Credfeto.Enumeration.Source.Generation

UnreachableException instead of argument exception
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetDescriptionTests.cs
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetNameTests.cs
Labels: Models.Tests

UnreachableException instead of argument exception
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetNameTests.cs
Labels: Models.Tests

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.2.121
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Cleanup] - Code cleanup on Credfeto.Enumeration.Source.Generation.sln
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/ProhibitEnumToStringsDiagnosticsAnalyzer.cs
Labels: Credfeto.Enumeration.Source.Generation

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.7.2
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

Release notes for 1.0.16
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.83
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.9.0.77355
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/codeql-analysis-csharp.yml to match the template repo
  .github/workflows/codeql-analysis-csharp.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/codeql-analysis-javascript.yml to match the template repo
  .github/workflows/codeql-analysis-javascript.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/codeql-analysis-python.yml to match the template repo
  .github/workflows/codeql-analysis-python.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/todos.yml to match the template repo
  .github/workflows/todos.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Enumeration.Source.Generation":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation/**/*' ]
"Attributes":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Attributes/**/*' ]
"Benchmarks":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Benchmarks/**/*' ]
"Generics":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Generics/**/*' ]
"Models":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models/**/*' ]
"Models.Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models.Tests/**/*' ]
"Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Tests/**/*' ]
