Repository credfeto/credfeto-enum-source-generation, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Enumeration.Source.Generation":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation/**/*' ]
"Attributes":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Attributes/**/*' ]
"Benchmarks":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Benchmarks/**/*' ]
"Generics":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Generics/**/*' ]
"Models":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models/**/*' ]
"Models.Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models.Tests/**/*' ]
"Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Tests/**/*' ]

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.9.2379
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[FF-1429] - Update .github/workflows/on_new_pr.yml to match the template repo
  .github/workflows/on_new_pr.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

Added IsDefined extension method as an optimised Enum.IsDefined alternative
  CHANGELOG.md
  README.md
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/EnumBench.cs
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
Labels: Change Log, Read Me, Markdown, Credfeto.Enumeration.Source.Generation, Benchmarks

Additional test for enums with no members
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
Labels: Credfeto.Enumeration.Source.Generation, Tests

Is Defined
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/EnumBench.cs
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/EnumWrappers.cs
  src/Credfeto.Enumeration.Source.Generation.Generics/EnumHelpers.cs
Labels: C# Project, Benchmarks, Generics

Altered tests so the expected result contains the IsDefined method
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
Labels: Tests

Fixing up tests
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
Labels: C# Project, Models

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.751
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.752
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.754
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.755
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.756
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[FF-1429] Updating Roslynator.Analyzers (Code analysis) to 4.2.0
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] Updating xunit.analyzers (Code analysis) to 1.1.0
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.50.0.58025
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[FF-1429] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.10.2422
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[FF-3881] - Updated DotNet SDK to 7.0.101
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[FF-1429] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

Release notes for 1.0.1
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.11.2429
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.757
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[FF-1429] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.4.1
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

Release notes for 1.0.2
  CHANGELOG.md
Labels: Change Log, Markdown
