Repository credfeto/credfeto-enum-source-generation, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]

Renamed solution
  src/Credfeto.Enumeration.Source.Generation.sln
  src/Credfeto.Enumeration.Source.Generation.sln.DotSettings
Labels: C# Solution

Initial version
  CHANGELOG.md
  README.md
  src/.idea/.idea.Credfeto.Enumeration.Source.Generation/.idea/.gitignore
  src/.idea/.idea.Credfeto.Enumeration.Source.Generation/.idea/.name
  src/.idea/.idea.Credfeto.Enumeration.Source.Generation/.idea/encodings.xml
  src/.idea/.idea.Credfeto.Enumeration.Source.Generation/.idea/indexLayout.xml
  src/.idea/.idea.Credfeto.Enumeration.Source.Generation/.idea/vcs.xml
  src/Credfeto.Enumeration.Source.Generation.sln
  src/Credfeto.Enumeration.Source.Generation/Builders/CodeBuilder.cs
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/Models/AccessType.cs
  src/Credfeto.Enumeration.Source.Generation/Models/EnumGeneration.cs
  src/Credfeto.Enumeration.Source.Generation/Receivers/EnumSyntaxReceiver.cs
Labels: C# Project, C# Solution, Change Log, Read Me, Markdown

Corrected typo
  CHANGELOG.md
Labels: Change Log, Markdown

Removed update notes
  CHANGELOG.md
Labels: Change Log, Markdown

Support .net 6 & 7
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project

Marking as publishable
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project

Added install and uninstall scripts
  src/Credfeto.Enumeration.Source.Generation/tools/install.ps1
  src/Credfeto.Enumeration.Source.Generation/tools/uninstall.ps1
Labels: none

Updating dependencies
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project

Updating dependencies
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project

No need for duplicated languages
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project

Changelog for 0.0.1
  CHANGELOG.md
Labels: Change Log, Markdown
