Repository credfeto/credfeto-enum-source-generation, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating xunit.runner.visualstudio (Test Infrastructure) to 2.5.3
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[SDK] - Updated DotNet SDK to 8.0.100
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.4.198
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.110
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.8.14
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.18.233
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

Release notes for 1.1.1
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.19.238
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.6.0
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating xunit (Test Infrastructure) to 2.6.2
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating xunit.runner.visualstudio (Test Infrastructure) to 2.5.4
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Microsoft.CodeAnalysis.CSharp (Code Analysis) to 4.8.0
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Models.Tests, Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.20.244
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.6.4
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.21.247
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
Labels: C# Project, Change Log, Markdown, Models.Tests, Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.112
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/actions/nuget/action.yml to match the template repo
  .github/actions/nuget/action.yml
Labels: none

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update src/Credfeto.Enumeration.Source.Generation.sln.DotSettings to match the template repo
  src/Credfeto.Enumeration.Source.Generation.sln.DotSettings
Labels: none

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/actions/sarif/action.yml to match the template repo
  .github/actions/sarif/action.yml
Labels: none

[Dependencies] - Update .github/actions/sql/action.yml to match the template repo
  .github/actions/sql/action.yml
Labels: none

[Dependencies] - Update .github/actions/nuget/action.yml to match the template repo
  .github/actions/nuget/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet-tool/action.yml to match the template repo
  .github/actions/dotnet-tool/action.yml
Labels: none

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/actions/sarif/action.yml to match the template repo
  .github/actions/sarif/action.yml
Labels: none

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Enumeration.Source.Generation":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation/**/*' ]
"Attributes":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Attributes/**/*' ]
"Benchmarks":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Benchmarks/**/*' ]
"Generics":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Generics/**/*' ]
"Models":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models/**/*' ]
"Models.Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models.Tests/**/*' ]
"Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Tests/**/*' ]
