Repository credfeto/credfeto-enum-source-generation, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

Additional test
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetNameTests.cs
Labels: Models.Tests

Additional test
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetDescriptionTests.cs
Labels: Models.Tests

Working code analysis tests
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.sln
Labels: C# Project, C# Solution, Tests

Started adding test generation
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/GenerationTests.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/CSharpSourceGeneratorVerifier.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/GeneratorVerifierTestsBase.cs
Labels: C# Project, Tests

Fixing compile errors... not sure why they weren't there before
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/CSharpSourceGeneratorVerifier.cs
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
  src/Credfeto.Enumeration.Source.Generation/ProhibitEnumToStringsDiagnosticsAnalyzer.cs
Labels: C# Project, Credfeto.Enumeration.Source.Generation, Tests

Renamed test
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
Labels: Tests

Started adding test generation
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
  src/Credfeto.Enumeration.Source.Generation/Builders/CodeBuilder.cs
Labels: Credfeto.Enumeration.Source.Generation, Tests

Fixing tests
  src/Credfeto.Enumeration.Source.Generation.Models/Generated/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.EnumGenerator/Credfeto.Enumeration.Source.Generation.Models.ExampleEnumValuesGeneratedExtensions.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
  src/Credfeto.Enumeration.Source.Generation.Tests/Verifiers/GeneratorVerifierTestsBase.cs
  src/Credfeto.Enumeration.Source.Generation/Builders/CodeBuilder.cs
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/Helpers/VersionInformation.cs
Labels: C# Project, Credfeto.Enumeration.Source.Generation, Models, Tests

Delete vcs.xml
  .idea/vcs.xml
Labels: none

Delete modules.xml
  .idea/modules.xml
Labels: none

Delete git_toolbox_prj.xml
  .idea/git_toolbox_prj.xml
Labels: none

Delete cs-template.iml
  .idea/cs-template.iml
Labels: none

Delete .gitignore
  .idea/.gitignore
Labels: none

Fixing tests
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetNameTests.cs
Labels: Models.Tests

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

Additional test
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
Labels: Tests

Updated changelog
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

Additional test for obsolete
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
Labels: Tests

Refactoring to use UnreachableException
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetDescriptionTests.cs
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/EnumGetNameTests.cs
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/Receivers/EnumSyntaxReceiver.cs
Labels: Credfeto.Enumeration.Source.Generation, Models.Tests

Deleted generated file
  src/Credfeto.Enumeration.Source.Generation.Models/Generated/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.EnumGenerator/Credfeto.Enumeration.Source.Generation.Models.ExampleEnumValuesGeneratedExtensions.cs
Labels: Models

Re-working tests
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
  src/Credfeto.Enumeration.Source.Generation/Receivers/EnumSyntaxReceiver.cs
Labels: Credfeto.Enumeration.Source.Generation, Tests

Fixing tests
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
Labels: Tests

Adding tests for generation of external
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
Labels: Tests

Single external enum generation
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
Labels: Credfeto.Enumeration.Source.Generation, Tests

Test for two enums in the generated code
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
Labels: Tests

Making generated files <classname>.generated.cs
  src/CodeAnalysis.ruleset
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
Labels: Static Code Analysis Rules, Credfeto.Enumeration.Source.Generation, Tests

[FF-1429] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

Moved gitignore
  src/Credfeto.Enumeration.Source.Generation.Models/.gitignore
  src/Credfeto.Enumeration.Source.Generation.Models/Generated/.gitignore
Labels: Models

paths
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
Labels: C# Project, Models

undid
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
Labels: C# Project, Models

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.750
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

Changelog for 1.0.0
  CHANGELOG.md
Labels: Change Log, Markdown

Update README.md
  README.md
Labels: Read Me, Markdown

Update README.md
  README.md
Labels: Read Me, Markdown

Missing using
  src/Credfeto.Enumeration.Source.Generation/EnumGenerator.cs
Labels: Credfeto.Enumeration.Source.Generation

Updated tests
  src/Credfeto.Enumeration.Source.Generation.Tests/EnumGeneratorSourceGenerationTests.cs
Labels: Tests

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.49.0.57237
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation.Tests/Credfeto.Enumeration.Source.Generation.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.Enumeration.Source.Generation, Attributes, Benchmarks, Generics, Models, Models.Tests, Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Enumeration.Source.Generation":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation/**/*' ]
"Attributes":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Attributes/**/*' ]
"Benchmarks":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Benchmarks/**/*' ]
"Generics":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Generics/**/*' ]
"Models":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models/**/*' ]
"Models.Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Models.Tests/**/*' ]
"Tests":
 - any: [ 'src/Credfeto.Enumeration.Source.Generation.Tests/**/*' ]
