Repository credfeto/credfeto-enum-source-generation, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-enumeration-source-generation, credfeto-enumeration-source-generation-attributes, credfeto-enumeration-source-generation-benchmarks, credfeto-enumeration-source-generation-generics, credfeto-enumeration-source-generation-models, credfeto-enumeration-source-generation-models-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-enumeration-source-generation":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation/**/*' ]
"credfeto-enumeration-source-generation-attributes":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Attributes/**/*' ]
"credfeto-enumeration-source-generation-benchmarks":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Benchmarks/**/*' ]
"credfeto-enumeration-source-generation-generics":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Generics/**/*' ]
"credfeto-enumeration-source-generation-models":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Models/**/*' ]
"credfeto-enumeration-source-generation-models-tests":
 - any: [ 'src/$Credfeto.Enumeration.Source.Generation.Models.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.40.246
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.2.52
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.185
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit (Test Infrastructure) to 2.9.3
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.41.250
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.2.53
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.19.0
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.runner.visualstudio (Test Infrastructure) to 3.0.1
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.186
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.5.0.109200
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.102
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.55.846
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.245.1069
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.56.855
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.2.54
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.246.1079
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.57.858
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Attributes/Credfeto.Enumeration.Source.Generation.Attributes.csproj
  src/Credfeto.Enumeration.Source.Generation.Benchmarks/Credfeto.Enumeration.Source.Generation.Benchmarks.csproj
  src/Credfeto.Enumeration.Source.Generation.Generics/Credfeto.Enumeration.Source.Generation.Generics.csproj
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
  src/Credfeto.Enumeration.Source.Generation.Models/Credfeto.Enumeration.Source.Generation.Models.csproj
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.247.1082
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation.Models.Tests/Credfeto.Enumeration.Source.Generation.Models.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.42.276
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

Changelog for 1.2.55
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.43.281
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.2.56
  CHANGELOG.md
Labels: Change Log, Markdown

Changelog for 1.2.57
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.44.283
  CHANGELOG.md
  src/Credfeto.Enumeration.Source.Generation/Credfeto.Enumeration.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown
